DEBUG=1
SECRET_KEY=django-insecure-change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=norsalud
DB_USER=norsalud_user
DB_PASSWORD=norsalud_pass
DB_ROOT_PASSWORD=norsalud_root_pass
DB_HOST=localhost
DB_PORT=3306
